{% extends "base.html" %}

{% block content %}
 <div class="menu">
  <div class="menu_bar">
   <a href="/forum/">Huitcent</a>
   | <a href="/forum/{{ forum.id }}/">{{ forum.name }}</a>
   | <a href="/forum/{{ forum.id }}/new_category/">Nouvelle catégorie</a>
   | <a href="/forum/{{ forum.id }}/new_topic/">Nouveau sujet</a>
   | <a href="/forum/{{ forum.id }}/search/">Recherche</a>
  </div><br />
  <div class="menu_head">
   <a href="/forum/{{ forum.id }}/">{{ forum.name }}</a>
   > Nouvelle catégorie
  </div><br />
  <div class="menu_items">
   <form action="/forum/{{ forum.id }}/create_category/" method="post">
    {% csrf_token %}
    <label for="name">Nom</label><br />
    <input type="text" name="name" maxlength="40" size="40" /><br />
    <br /><input type="submit" value="Créer" />
   </form>
  </div>
 </div>
{% endblock %}
