[Unit]
Description=Forum huitcent (Gunicorn via uv)
After=network.target

[Service]
# Création du répertoire de socket
ExecStartPre=/bin/rm -rf /var/run/forum ; /bin/mkdir /var/run/forum ; /bin/chown -R forum:forum /var/run/forum

# Lancement de Gunicorn via uv run
WorkingDirectory=/srv/forum
ExecStart=/home/forum/.local/bin/uv run gunicorn huitcent.wsgi:application \
	--bind unix:/var/run/forum/forum.sock \
	--chdir /srv/forum \
	--user forum --group forum \
	--workers 2 \
	--timeout 30 \
	--log-file /var/log/forum.log

# Nettoyage à l'arrêt
ExecStop=/bin/rm -rf /var/run/forum

Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
