[Unit]
Description=Forum huitcent
After=network.target

[Service]
ExecStartPre=/bin/rm -rf /var/run/forum ; /bin/mkdir /var/run/forum ; /bin/chown -R forum:forum /var/run/forum
ExecStart=/bin/bash -c "source /srv/forum/bin/activate ; /srv/forum/bin/uwsgi --chdir=/srv/forum --module=huitcent.wsgi:application --env DJANGO_SETTINGS_MODULE=huitcent.settings --socket /var/run/forum/forum.sock --chmod-socket --processes=1 --uid=forum --gid=forum --logto=/var/log/forum.log"
ExecStop=/bin/rm -rf /var/run/forum
Restart=on-failure

[Install]
WantedBy=multi-user.target
