[Unit]
Description=Forum huitcent - Développement
After=network.target

[Service]
ExecStart=/usr/bin/bash -c "source /srv/http/forum-dev/bin/activate ; /srv/http/forum-dev/bin/uwsgi --chdir=/srv/http/forum-dev/huitcent --module=huitcent.wsgi:application --env DJANGO_SETTINGS_MODULE=huitcent.settings --socket=127.0.0.1:49152 --processes=4 --uid=mayan --gid=mayan --logto=/var/log/forum.log"
Restart=on-failure

[Install]
WantedBy=multi-user.target
