{% extends "base.html" %}

{% block javascript %}
 <script type="text/javascript">
  <!--
   function validate_form()
   {
    var name = document.forms["password"]["Name"].value;
    if (name == null || name == "")
    {
     alert("Vous devez entrer un nom pour le mot de passe.");
     return false;
    }
    else return true;
   }
  //-->
 </script>
{% endblock %}

{% block content %}
 <div class="menu">
  <div class="menu_head">{{ group.name }}</div>
  <div class="menu_items">

   <a href="/passwords/{{ group.id }}/">Retour</a><br /><br />
   {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

   <form name="password" action="/passwords/{{ group.id }}/{{ password.id }}/save/" method="post" onsubmit="return validate_form()">
    {% csrf_token %}
    <label for="name">Nom</label><br />
    <input type="text" name="Name" maxlength="50" size="40" value="{{ password.name }}" /><br />
    <label for="name">Détails</label><br />
    <input type="text" name="Details" maxlength="100" size="40" value="{{ password.details }}"><br />
    <label for="name">Utilisateur</label><br />
    <input type="text" name="User" maxlength="50" size="40" value="{{ password.user }}"><br />
    <label for="name">Mot de passe</label><br />
    <input type="text" name="Password" maxlength="50" size="40" value="{{ password.password }}"><br />
    <br /><input type="submit" value="Valider" />
   </form>
  </div>
 </div>
{% endblock %}
