{% extends "base.html" %}

{% block javascript %}
 <script type="text/javascript">
<!--

function confirm_del(password_id) {
    var answer = confirm("Voulez-vous vraiment effacer ce mot de passe?");
    if (answer) {
        window.location = "/passwords/{{ group.id }}/" + password_id + "/do_delete/";
    }
}

-->
 </script>
{% endblock %}

{% block content %}
 <div class="menu">
  <div class="menu_head">{{ group.name }}</div>
  <div class="menu_items">

   <a href="/passwords/{{ group.id }}/">Retour</a>
   | <a href="/passwords/{{ group.id }}/{{ password.id }}/edit/">Modifier</a>
   | <a href="javascript:confirm_del({{ password.id }})">Effacer</a>
   | <a href="/passwords/{{ group.id }}/new/">Nouveau mot de passe</a><br /><br />

   Nom : {{ password.name }}<br />
   Détails : {{ password.details|safe }}<br />
   Utilisateur : {{ password.user }}<br />
   Mot de passe : {{ password.password }}

  </div>
 </div>
{% endblock %}
