/*** Containers ***/

#container {
    clear: both;
    margin: 0px auto;
    font-family: Verdana, Sans-Serif;
    font-size: 0.75em;
    max-width: 1200px;
    width: 100%;
}

#container-head {
    background-color: steelblue;
    clear: both;
    color: white;
    margin: 4px;
    padding: 4px;
}

#container-left {
    float: left;
    margin-left: 4px;
    width: 200px;
}

#container-right {
    margin-left: 208px;
    margin-right: 4px;
}

/*** Menu ***/

.menu {
    background-color: steelblue;
    border: 2px solid steelblue;
    margin-bottom: 4px;
}

.menu_head {
    color: white;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.menu_bar {
    background-color: #EEEEEE;
    border: 1px solid black;
    color: black;
    padding: 2px;
}

.menu_items {
    background-color: #EEEEEE;
    color: black;
    overflow: auto;
    padding: 2px;
}

.menu_items_paddless {
    background-color: #EEEEEE;
    color: black;
}

.menu_items_dark {
    color: black;
    padding: 2px;
}

.menu_items_black {
    background-color: #404040;
    border: solid 1px gray;
    color: white;
    margin: 4px;
    padding: 2px;
}

/*** Topic ***/

#topic {
    background-color: steelblue;
    border: none;
    text-align: left;
    width: 100%;
}

.topich {
    background-color: steelblue;
    border: none;
    color: white;
    font-weight: bold;
    text-align: left;
}

.topic0 {
    background-color: white;
    border: solid 2px steelblue;
    width: 32px;
}

.topic1 {
    background-color: white;
    border: solid 2px steelblue;
    padding: 2px;
    width: auto;
}

.topic2 {
    background-color: white;
    border: solid 2px steelblue;
    padding: 2px;
    width: 220px;
}

/*** Posts ***/

#post {
    color: white;
    text-align: left;
    width: 100%;
}

.post0 {
    background-color: white;
    border: solid 2px steelblue;
    color: black;
    padding: 2px;
    vertical-align: top;
    width: 130px;
}

.post1 {
    background-color: white;
    border: solid 2px steelblue;
    color: black;
    padding: 2px;
    vertical-align: top;
    width: auto;
}

.post2 {
    background-color: white;
    border: solid 2px steelblue;
    color: black;
    padding-left: 2px;
}

.post_tools {
    background-color: lavender;
    text-align: right;
}

.quote {
    background-color: #E0E0E0;
    border: solid 1px gray;
    margin: 4px;
    padding: 2px;
}

/*** Finance ***/

.transactions {
    background-color: White;
    border: 1px solid black;
    font-size: 0.875em;
    overflow: auto;
}

/*** Genealogy tree ***/

#tree {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*** Text ***/

.tablecell {
    font-size: 0.875em;
}

/*** Todo list ***/

#todo_table_form {
    border: none;
    font-size: 0.875em;
    width: 100%;
}

#todo_table_list {
    border: none;
    font-size: 0.875em;
    width: 100%;
}

.todo_row {
    border: none;
}

.todo_cell {
    border-color: gray;
    text-align: center;
    width: 12px;
}

.todo_cell_borderless {
    border: none;
    text-align: center;
}

.todo_desc {
    border-color: gray;
    max-width: 120px;
    overflow: auto;
    text-align: left;
}

.todo_desc_borderless {
    border: none;
    max-width: 120px;
    text-align: left;
}

/*** Other ***/

a {
    text-decoration: none;
}
a:hover {
    color: red;
}

.red {
    color: red;
    font-weight: bold;
}

.red_thin {
    color: red;
}

.green {
    color: green;
    font-weight: bold;
}

body {
    background-color: black;
}

.borderless {
    border: none;
}

img {
    max-width: 600px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border:1px solid black;
}

.centered {
    text-align: center
}

del {
    color: gray;
}

textarea {
    max-width: 98%;
}

div {
    border-radius: 3px;
}

